<h1>Fitbit Settings</h1>

<% if @fitbit == true %>
	<%= link_to "Fitbit Public Profile", @fitbit_url, :target => "_blank" %>	
	<br><%= link_to "Remove Fitbit Account", {:controller => 'fitbit', :action => 'remove_fitbit_account'} %>		
<% else %>
	<%= link_to "Add Fitbit Account", @auth_url %>
<% end %>