<h1>Editing user_token</h1>

You have been sucessfully connected to your Fitbit account. <p />
According to Fitbit, your display name with them is <%=  @user_data["displayName"]%><p>
and you were born on <%= @user_data["birthDate"]%>


<%= link_to 'Show', @user_token %> |
<%= link_to 'Back', user_tokens_path %>
