<p id="notice"><%= notice %></p>

<p>
  <%= expand_fit_data @activities_on_date, "Activity Statistics" %>

<%= link_to 'Edit', edit_user_token_path(@user_token) %> |
<%= link_to 'Back', user_tokens_path %>